@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*----------------------------------------------------------------------------*/
/* Html */
html {
  font-size: 62.5%;
}

/*----------------------------------------------------------------------------*/
/* Body */
body {
  font-family: "Roboto", sans-serif;
  background-color: #010100;
}

/*----------------------------------------------------------------------------*/
/* Info-detalles */
.details {
  color: #575757;
  margin: 0rem 1rem;
  font-size: 1.99rem;
}

/*----------------------------------------------------------------------------*/
/* Conteiner-Content */
.container-content {
  background-color: #141212;
  width: 93%;
  margin: 0 auto;
  border-top: 1px solid #76b801;
  border-bottom: 1px solid #76b801;
}

/*----------------------------------------------------------------------------*/
/* Button */
.btn {
  border: 0.3rem solid #76b801;
  border-radius: 1.33rem;
  background-color: transparent;
  font-size: 1.33rem;
  color: #76b801;
}
.btn:hover {
  border: 0.3rem solid #76b801;
  background-color: transparent;
  box-shadow: 0 0 9px #76b801;
  transform: scale(1.066);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Scrollbar */
::-webkit-scrollbar {
  background-color: #010100;
  width: 0.99rem;
}

::-webkit-scrollbar-track {
  border-left: 1px solid #76b801;
}

::-webkit-scrollbar-thumb {
  background-color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Redireccion */
#btn {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  z-index: 999;
  border: 2px solid #76b801;
  background-color: #010100;
  color: #76b801;
  padding: 10px 15px;
  border-radius: 1.33rem;
}

/*----------------------------------------------------------------------------*/
/* Barra de navegacion */
.container-navbar {
  background-color: #010100;
  margin: 1rem;
}

.nav-item a {
  font-size: 1.39rem;
  color: #575757;
  text-transform: capitalize;
}
.nav-item a:hover {
  color: #76b801;
}

.nav-tabs {
  border-color: #76b801;
}
.nav-tabs .nav-link:hover {
  border-color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Logo */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #76b801;
}
.navbar-brand:hover {
  color: #76b801;
  transform: scale(1.066, 1.066);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.imgLogo {
  width: 33px;
  margin-right: 1rem;
}

/*----------------------------------------------------------------------------*/
/* Caja de busqueda */
.search-box {
  background-color: #141212;
  border-radius: 1.33rem;
  height: 3rem;
  margin: 0.25rem 0rem 0.25rem 0rem;
  overflow: hidden;
  border: 3px solid #010100;
  box-shadow: 0 0 9px #76b801;
}
.search-box input {
  background-color: #141212;
  color: #76b801;
  border: none;
  font-size: 1.33rem;
  padding: 0rem;
}
.search-box input:hover {
  background-color: #141212;
  color: #76b801;
}
.search-box .search {
  color: #76b801;
  background-color: #141212;
}
.search-box .search::placeholder {
  color: #76b801;
  filter: grayscale(66%);
}
.search-box button {
  border: 0rem;
  padding: 0rem;
  background-color: #010100;
  width: 2.66rem;
}
.search-box button img {
  display: flex;
  width: 93%;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/
/* Preguntas */
.question {
  width: 80%;
}

/*----------------------------------------------------------------------------*/
/* Formulario */
.campo {
  background-color: var(--black);
  border-radius: 6px;
}

.form-control {
  background-color: #141212;
  color: var(--green);
  border: var(--green) 2px solid;
}

.form-label,
.form-check {
  color: var(--green);
}

input:focus {
  background-color: #000000;
  color: var(--green);
  transition: background-color 1s ease;
}

.form-check-input:checked {
  background-color: var(--green);
  border-color: var(--black);
}

/*----------------------------------------------------------------------------*/
/* Accordion */
.accordion-item {
  margin: 3rem 1rem;
}

.accordion-header,
.accordion-body {
  border: #76b801 3px solid;
  border-radius: 3px;
  margin-bottom: 0.6rem;
  font-size: 1.5rem;
  background-color: #010100;
  color: #575757;
}

.accordion-item {
  margin-bottom: 3rem;
  border: none;
  background-color: transparent;
}

.accordion-button {
  color: #76b801;
  font-size: 1.5rem;
  background-color: #010100;
}
.accordion-button:not(.collapsed) {
  color: #76b801;
  background-color: #010100;
  box-shadow: none;
}

/*----------------------------------------------------------------------------*/
/* Baner (separador) */
.banner-separator {
  background-color: #010100;
  color: #76b801;
  margin: 1.33rem 0rem 1.33rem 0rem;
  border-radius: 1.33rem;
  display: flex;
  justify-content: center;
}
.banner-separator h2 {
  margin: 0rem;
  padding: 0.33rem;
  font-size: 2.66rem;
  font-weight: unset;
}
.banner-separator h1 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

/*----------------------------------------------------------------------------*/
/* Baner (separador) */
.breadcrumb {
  background-color: #010100;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 0.66rem;
  --bs-breadcrumb-divider-color: grey;
  --bs-breadcrumb-divider: ">";
  margin-bottom: 0.66rem;
}
.breadcrumb a {
  text-decoration: none;
  color: #76b801;
}
.breadcrumb .active {
  color: #575757;
}
.breadcrumb .item1 + .item2::before {
  color: grey;
  margin: 0px 5px 0 5px;
  --bs-breadcrumb-divider: "|";
}
.breadcrumb .breadshare {
  justify-content: end;
}

/*----------------------------------------------------------------------------*/
/* Table */
.table {
  color: green;
  margin: 0rem;
  border-color: #76b801;
}

.table > :not(caption) > * > * {
  background-color: transparent;
  color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Carousel de imagenes */
.carousel-inner {
  height: 40rem;
  width: 100%;
  background: #010100;
  background-position: center;
  background-size: cover;
  border-radius: 1.33rem;
}

.slide img {
  height: 40rem;
  width: 100%;
  object-fit: scale-down;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #010100;
  border-radius: 1.33rem;
  width: 9%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}

/*----------------------------------------------------------------------------*/
/* Info-Compra */
.info-compra {
  border: 1px solid #76b801;
  border-radius: 1.33rem;
  padding: 1.66rem;
}
.info-compra h2 {
  font-size: 3rem;
  text-align: center;
  color: #575757;
  border-bottom: #76b801 solid 1px;
}
.info-compra li {
  font-size: 1.33rem;
  color: #76b801;
  border: #76b801 solid;
  background-color: transparent;
}

/*----------------------------------------------------------------------------*/
/* Productos */
.card {
  background-color: #010100;
  padding: 1.5rem;
  border-radius: 6px;
  filter: grayscale(66%);
}
.card:hover {
  box-shadow: 0 0 9px #76b801;
  filter: grayscale(0%);
  transform: scale(1.066);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.card img {
  height: 16rem;
  width: 100%;
  object-fit: scale-down;
}

.card-text {
  color: #76b801;
  font-size: 1.5rem;
}

.price {
  font-size: 1.25rem;
  color: #fefeff;
}

.container-footer {
  background: #010100;
  border-top: 0.066rem solid #76b801;
  margin-top: 1rem;
}

/*----------------------------------------------------------------------------*/
/* Informacion */
.title-footer {
  color: #76b801;
  font-size: 1.75rem;
}

.text-footer {
  color: #575757;
}
.text-footer:hover {
  color: #76b801;
}

.gmail {
  font-size: small;
  color: #fafafa;
}
.gmail:hover {
  color: #76b801;
}

.icons i {
  font-size: 1.5rem;
  color: #76b801;
}

.border-bottom {
  color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Copyright */
.copyright h6 {
  font-size: 1.25rem;
  color: #575757;
  text-align: center;
  margin: 2rem;
}

/*# sourceMappingURL=style.css.map */
