/*----------------------------------------------------------------------------*/
/* Variables */
/*----------------------------------------------------------------------------*/
/* Mixin */
/*----------------------------------------------------------------------------*/
/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*----------------------------------------------------------------------------*/
/* Html */
html {
  font-size: 62.5%;
}

/*----------------------------------------------------------------------------*/
/* Body */
body {
  font-family: "Roboto", sans-serif;
  background-color: #020202;
}
body .modal-backdrop.show {
  opacity: 0.9;
  background-color: #141212;
}
body a {
  text-decoration: none;
}

/*----------------------------------------------------------------------------*/
/* Info-detalles */
.details {
  font-size: 1.99rem;
  color: #575757;
  margin: 0rem 1rem;
}

/*----------------------------------------------------------------------------*/
/* Conteiner-Content */
.container-content {
  background-color: #141212;
  width: 93%;
  margin: 0 auto;
  padding: 3rem;
  border-top: 1px solid rgba(117, 184, 1, 0.6235294118);
  border-bottom: 1px solid rgba(117, 184, 1, 0.6235294118);
}

/*----------------------------------------------------------------------------*/
/* Button */
.btn {
  font-size: 1.33rem;
  color: rgba(117, 184, 1, 0.6235294118);
  border: 0.3rem solid #76b801;
  border-radius: 1.33rem;
  background-color: transparent;
}
.btn:hover {
  border: 0.3rem solid #76b801;
  background-color: transparent;
  box-shadow: 0 0 9px #a2ff00;
  transform: scale(1.066);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  color: rgba(117, 184, 1, 0.6235294118);
}

/*----------------------------------------------------------------------------*/
/* Scrollbar */
::-webkit-scrollbar {
  background-color: #020202;
  width: 0.99rem;
}

::-webkit-scrollbar-track {
  border-left: 1px solid rgba(117, 184, 1, 0.6235294118);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(117, 184, 1, 0.6235294118);
}

/*----------------------------------------------------------------------------*/
/* Redireccion */
#btn {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  z-index: 999;
  border: 2px solid rgba(117, 184, 1, 0.6235294118);
  background-color: #020202;
  color: rgba(117, 184, 1, 0.6235294118);
  padding: 10px 15px;
  border-radius: 1.33rem;
}

/*----------------------------------------------------------------------------*/
/* Barra de navegacion */
.container-navbar {
  background-color: #020202;
  margin: 1rem;
}

.nav-item a {
  font-size: 1.39rem;
  color: #575757;
  text-transform: capitalize;
}
.nav-item a:hover {
  color: #a2ff00;
}

.nav-tabs {
  border-color: rgba(117, 184, 1, 0.6235294118);
}
.nav-tabs .nav-link:hover {
  border-color: rgba(117, 184, 1, 0.6235294118);
}

/*----------------------------------------------------------------------------*/
/* Logo */
.navbar-brand {
  font-size: 1.5rem;
  color: rgba(117, 184, 1, 0.6235294118);
  font-weight: bold;
}
.navbar-brand:hover {
  color: rgba(117, 184, 1, 0.6235294118);
  transform: scale(1.066, 1.066);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.imgLogo {
  width: 33px;
  margin-right: 1rem;
}

/*----------------------------------------------------------------------------*/
/* Formulario */
.content-form {
  font-size: 1.33rem;
  color: rgba(117, 184, 1, 0.6235294118);
  background-color: #020202;
  width: auto;
  height: auto;
  margin: 0;
  padding: 1.33rem;
  border: 1px solid rgba(117, 184, 1, 0.6235294118);
  border-radius: 1.33rem;
}
.content-form .space {
  background-color: #020202;
  color: rgba(117, 184, 1, 0.6235294118);
}
.content-form .space label {
  color: rgba(117, 184, 1, 0.6235294118);
  margin: 0rem;
  margin-top: 1rem;
}
.content-form .space input {
  font-size: 1.33rem;
  color: rgba(117, 184, 1, 0.6235294118);
  background-color: #141212;
  border: rgba(117, 184, 1, 0.6235294118) 1px solid;
}
.content-form .space input::placeholder {
  color: #575757;
}
.content-form .form-select {
  background-color: #141212;
  color: rgba(117, 184, 1, 0.6235294118);
  border: rgba(117, 184, 1, 0.6235294118) solid 1px;
}

.form-check-input:checked {
  background-color: rgba(117, 184, 1, 0.6235294118);
  border-color: #020202;
}

.form-label,
.form-check {
  color: rgba(117, 184, 1, 0.6235294118);
}

/*----------------------------------------------------------------------------*/
/* Accordion */
.accordion-item {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.accordion-header,
.accordion-body {
  font-size: 1.5rem;
  color: #575757;
  border: rgba(117, 184, 1, 0.6235294118) 3px solid;
  border-radius: 3px;
  margin-bottom: 0.6rem;
  background-color: #020202;
}

.accordion-item {
  margin-bottom: 3rem;
  border: none;
  background-color: transparent;
}

.accordion-button {
  font-size: 1.5rem;
  color: rgba(117, 184, 1, 0.6235294118);
  background-color: #020202;
}
.accordion-button:not(.collapsed) {
  color: rgba(117, 184, 1, 0.6235294118);
  background-color: #020202;
  box-shadow: none;
}

/*----------------------------------------------------------------------------*/
/* Baner (separador) */
.banner-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  color: #a2ff00;
  margin: 1.33rem 0rem 1.33rem 0rem;
  border-radius: 1.33rem;
}
.banner-separator h2 {
  margin: 0rem;
  padding: 0.33rem;
  font-size: 2.66rem;
  font-weight: unset;
  text-align: center;
}
.banner-separator h1 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

/*----------------------------------------------------------------------------*/
/* Breadcrumb */
.breadcrumb {
  background-color: #020202;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 0.66rem;
  --bs-breadcrumb-divider-color: grey;
  --bs-breadcrumb-divider: ">";
  margin-bottom: 0.66rem;
}
.breadcrumb a {
  text-decoration: none;
  color: rgba(117, 184, 1, 0.6235294118);
}
.breadcrumb .active {
  color: #575757;
}
.breadcrumb .item1 + .item2::before {
  color: grey;
  margin: 0px 5px 0 5px;
  --bs-breadcrumb-divider: "|";
}
.breadcrumb .breadshare {
  justify-content: end;
}

/*----------------------------------------------------------------------------*/
/* Table */
.table {
  color: green;
  margin: 0rem;
  border-color: rgba(117, 184, 1, 0.6235294118);
}

.table > :not(caption) > * > * {
  background-color: transparent;
  color: rgba(117, 184, 1, 0.6235294118);
}

/*----------------------------------------------------------------------------*/
/* Carousel de imagenes */
.carousel-inner {
  height: 19rem;
  width: 100%;
  background: #010100;
  background-position: center;
  background-size: fill;
  border-radius: 1.33rem;
}
.carousel-inner img {
  height: 19rem;
  max-width: 100%;
  object-fit: fill;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #020202;
  border-radius: 1.33rem;
  width: 6%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent;
}

/*----------------------------------------------------------------------------*/
/* Info-Compra */
.info-compra {
  border: 1px solid rgba(117, 184, 1, 0.6235294118);
  border-radius: 1.33rem;
  padding: 1.66rem;
  background-color: #020202;
}
.info-compra h2 {
  font-size: 3rem;
  color: #575757;
  text-align: center;
  border-bottom: rgba(117, 184, 1, 0.6235294118) solid 1px;
}
.info-compra li {
  font-size: 1.33rem;
  color: rgba(117, 184, 1, 0.6235294118);
  border: rgba(117, 184, 1, 0.6235294118) solid;
  background-color: transparent;
}

/*----------------------------------------------------------------------------*/
/* Productos */
.card {
  background-color: #020202;
  padding: 0.5rem;
  border-radius: 1.33rem;
  filter: grayscale(66%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 0 0 9px #a2ff00;
  filter: grayscale(0%);
  transform: scale(1.066);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.card img {
  height: 15rem;
  width: 100%;
  object-fit: scale-down;
}
.card h6 {
  font-size: 1.3rem;
  color: #a2ff00;
  margin: 0rem;
  margin-top: 0.66rem;
  text-align: center;
}
.card p {
  font-size: 1.25rem;
  color: #fefefe;
  margin: 0rem;
  margin-top: 0.66rem;
  text-align: top;
}

/*----------------------------------------------------------------------------*/
/* Footer */
.container-footer {
  background: #020202;
  border-top: 0.066rem solid rgba(117, 184, 1, 0.6235294118);
  margin-top: 1rem;
}

/*----------------------------------------------------------------------------*/
/* Informacion */
.title-footer {
  font-size: 1.75rem;
  color: rgba(117, 184, 1, 0.6235294118);
}

.text-footer {
  color: #575757;
}
.text-footer:hover {
  color: rgba(117, 184, 1, 0.6235294118);
}

.gmail {
  font-size: small;
  color: #fafafa;
}
.gmail:hover {
  color: rgba(117, 184, 1, 0.6235294118);
}

.icons i {
  font-size: 1.5rem;
  color: rgba(117, 184, 1, 0.6235294118);
}

.border-bottom {
  color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Copyright */
.copyright h6 {
  font-size: 1.25rem;
  color: #575757;
  text-align: center;
  margin: 2rem;
}

/*----------------------------------------------------------------------------*/
/* Responsive */
@media (max-width: 400px) {
  .mediahome .col {
    flex-basis: 100%;
  }
}
@media (max-width: 666px) {
  .carousel {
    display: none;
  }
}
@media (min-width: 666px) and (max-width: 1300px) {
  .carousel-inner {
    height: 26rem;
  }
  .carousel-inner img {
    width: 100%;
    height: 26rem;
    object-fit: fill;
  }
}
@media (min-width: 1300px) {
  .container-content, .head {
    width: 69vw;
  }
  .carousel-inner {
    height: 30rem;
  }
  .carousel-inner img {
    width: 100%;
    height: 30rem;
    object-fit: fill;
  }
}
@media (min-width: 1666px) {
  .carousel-inner {
    height: 43rem;
  }
  .carousel-inner img {
    width: 100%;
    height: 43rem;
    object-fit: fill;
  }
}
@media (max-width: 566px) {
  .register .col {
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
