/*----------------------------------------------------------------------------*/
/* Accordion */
.accordion-item {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.accordion-header,
.accordion-body {
    @include fontcolor(1.5rem, $color-grey);
    border: $color-green 3px solid;
    border-radius: 3px;
    margin-bottom: 0.6rem;
    background-color: $color-black;  
}

.accordion-item {
    margin-bottom: 3rem;
    border: none;
    background-color: transparent;
}

.accordion-button {
    @include fontcolor(1.5rem, $color-green);
    background-color: $color-black;

    &:not(.collapsed) {
        color: $color-green;
        background-color: $color-black;
        box-shadow: none;
    }
}

