/*----------------------------------------------------------------------------*/
/* Accordion */


.accordion-item {
    margin: 3rem 1rem;
}

.accordion-header,
.accordion-body {
    border: $color-green 3px solid;
    border-radius: 3px;
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    background-color: $color-black;
    color: $color-grey;
}

.accordion-item {
    margin-bottom: 3rem;
    border: none;
    background-color: transparent;
}

.accordion-button {
    color: $color-green;
    font-size: 1.5rem;
    background-color: $color-black;

    &:not(.collapsed) {
        color: $color-green;
        background-color: $color-black;
        box-shadow: none;
    }
}

