/*----------------------------------------------------------------------------*/
/* Baner (separador) */
.banner-separator {
    background-color: $color-black;
    color: $color-green;
    margin-bottom: 0.66rem;
    border-radius: 0.66rem;
}