/*----------------------------------------------------------------------------*/
/* Baner (separador) */
.banner-separator {
    @include flexcenter;
    background-color: $color-black;
    color: $color-green-bright;
    margin: 1.33rem 0rem 1.33rem 0rem ;
    border-radius: 1.33rem;

    h2 {
        margin: 0rem;
        padding: 0.33rem;
        font-size: 2.66rem;
        font-weight: unset;
        text-align: center;
    }

    h1 {
        margin: 0;
        padding: 1rem;
        text-align: center;
    }
}



