/*----------------------------------------------------------------------------*/
/* Breadcrumb */
.breadcrumb {
    background-color: $color-black;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 0.66rem;
    --bs-breadcrumb-divider-color: grey;
    --bs-breadcrumb-divider: '>';
    margin-bottom: 0.66rem;

    a {
        text-decoration: none;
        color: $color-green;
    }

    .active {
        color: $color-grey;
    }

    .item1+.item2::before {
        color: grey;
        margin: 0px 5px 0 5px;
        --bs-breadcrumb-divider: '|';   
    }

    .breadshare {
        justify-content: end;
    }
}