/*----------------------------------------------------------------------------*/
/* Carousel de imagenes */
.carousel-inner {
    height: 19rem;
    width: 100%;
    background: #010100;
    background-position: center;
    background-size: fill;
    border-radius: 1.33rem;

    img {
        height: 19rem;
        max-width: 100%;
        object-fit: fill;
    }
}

.carousel-control-prev,
.carousel-control-next {
    background-color: $color-black;
    border-radius: 1.33rem;
    width: 6%;

    &:hover {
        background-color: transparent;
    }
}
