.cart-table {
        border: solid $color-green 1px;
        border-radius: 3rem;

    tbody {
        
        .cart_item {
            background-color: $color-black;
            color: $color-green;
            border: solid $color-green 1px;
            margin-bottom: 3rem;
               
            .product-thumbnail {
                display: flex;
                align-items: center;
                border-radius: 1.3rem;
            }
    
            .product-name {
                @include flexcenter;
                text-align: center;
                font-size: 1.3rem;
            }

            .product-quantity {
                @include flexcenter;
            }

            .product-subtotal {
                @include flexcenter;
                @include fontcolor(1.6rem, $color-green-bright);

                p {
                    margin: 0rem;
                }
            }

            img {
                height: auto;
                width: 100%;
                object-fit: scale-down;   
            }
    
            a {
                color: $color-green-bright;
            }
    
        }

    }

}


