.container-footer {
    background: $color-black;
    border-top: 0.066rem solid $color-green;
    margin-top: 1rem;
}

/*----------------------------------------------------------------------------*/
/* Informacion */
.title-footer {
    @include fontcolor(1.75rem, $color-green);
}

.text-footer {
    color: #575757;

    &:hover {
        color: $color-green;
    }
}

.gmail {
    @include fontcolor(small, #fafafa);

    &:hover {
        color: $color-green;
    }
}

.icons i {
    @include fontcolor(1.50rem, $color-green);
}

.border-bottom {
    color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Copyright */
.copyright h6 {
    @include fontcolor(1.25rem, #575757);
    text-align: center;
    margin: 2rem;
}