.container-footer {
    background: $color-black;
    border-top: 0.066rem solid $color-green;
    margin-top: 1rem;
}

/*----------------------------------------------------------------------------*/
/* Informacion */

.title-footer {
    color: $color-green;
    font-size: 1.75rem;
}

.text-footer {
    color: #575757;

    &:hover {
        color: $color-green;
    }
}

.gmail {
    font-size: small;
    color: #fafafa;

    &:hover {
        color: $color-green;
    }
}

.icons i {
    font-size: 1.50rem;
    color: $color-green;
}

.border-bottom {
    color: #76b801;
}

/*----------------------------------------------------------------------------*/
/* Copyright */

.copyright h6 {
    font-size: 1.25rem;
    color: #575757;
    text-align: center;
    margin: 2rem;
}