/*----------------------------------------------------------------------------*/
/* Info-Compra */
.info-compra {
    border: 1px solid $color-green;
    border-radius: 1.33rem;
    padding: 1.66rem;
    background-color: $color-black;

    h2 {
        @include fontcolor(3rem, $color-grey);
        text-align: center;
        border-bottom: $color-green solid 1px;
    }

    li {
        @include fontcolor(1.33rem, $color-green);
        border: $color-green solid;
        background-color: transparent;
    }
}