/*----------------------------------------------------------------------------*/
/* Logo */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-green;

    &:hover {
        color: $color-green;
        transform: scale(1.066, 1.066);
        transform-origin: left;
		transition: transform 0.3s ease;
    }
}

.imgLogo {
    width: 33px;
    margin-right: 1rem;
}
