/*----------------------------------------------------------------------------*/
/* Preguntas */

.question {
    width: 80%;
}


/*----------------------------------------------------------------------------*/
/* Formulario */

.campo {
    background-color: var(--black);
    border-radius: 6px;
}

.form-control {
    background-color: #141212;
    color: $color-green;
    border: $color-green 2px solid;
}

.form-label,
.form-check {
    color: $color-green;
}

input:focus {
    background-color: $color-black;
    color: $color-green;
    transition: background-color 1s ease;
}

.form-check-input:checked {
    background-color: $color-green;
    border-color: $color-black;
}