/*----------------------------------------------------------------------------*/
/* Productos */
.card {
    background-color: $color-black;
    padding: 0.5rem;
    border-radius: 1.33rem;
    filter: grayscale(66%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        box-shadow: 0 0 9px $color-green-bright;
        filter: grayscale(0%);
        transform: scale(1.066);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    img {
        height: 15rem;
        width: 100%;
        object-fit: scale-down;
    }

    h6 {
        @include fontcolor(1.3rem, $color-green-bright);
        margin: 0rem;
        margin-top: 0.66rem;
        text-align: center;
    }

    p {
        @include fontcolor(1.25rem, #fefefe);
        margin: 0rem;
        margin-top: 0.66rem;
        text-align: center;
    }
}