/*----------------------------------------------------------------------------*/
/* Responsive */
@media (max-width: 368px) {
    .mediahome .col{
        flex-basis: 100%;
    }
}

@media (min-width:599px) and (max-width:816px){
    .mediahome .col{
        flex-basis: 33.33%;
    }
}

@media (min-width:816px) and (max-width:1000px){
    .mediahome .col{
        flex-basis: 25%;
    }
}

@media (min-width:1830px) {
    .mediahome .col{
        flex-basis: 12.5%;
    }
}