/*----------------------------------------------------------------------------*/
/* Responsive */
@media (max-width: 400px) {
    .mediahome .col{
        flex-basis: 100%;
    }
}

@media (max-width:666px) {
    .carousel {
        display: none;
    }
}

@media (min-width:666px) and (max-width:1300px) {
    .carousel-inner {
        height: 26rem;

        img {
            width: 100%;
            height: 26rem;
            object-fit: fill;
        }
    }
}

@media (min-width:1300px) {
    .container-content, .head {
        width: 69vw;
    }
    .carousel-inner {
        height: 30rem;

        img {
            width: 100%;
            height: 30rem;
            object-fit: fill;
        }
    }
}

@media (min-width:1666px) {
    .carousel-inner {
        height: 43rem;

        img {
            width: 100%;
            height: 43rem;
            object-fit: fill;
        }
    }
}


