/*----------------------------------------------------------------------------*/
/* Caja de busqueda */
.search-box {
    background-color: $color-white;
    border-radius: 1.33rem;
    height: 3rem;
    margin: 0.25rem 0rem 0.25rem 0rem ;
    overflow: hidden;
    border: 3px solid $color-black;
    box-shadow: 0 0 9px  $color-green;

    input {
        background-color: $color-white;
        color: $color-green;
        border: none;
        font-size: 1.33rem;
        padding: 0rem;

        &:hover {
            background-color: $color-white;
            color: $color-green;
        }
    }

    .search {
        color: $color-green;
        background-color: $color-white;
    
        &::placeholder {
            color: $color-green;
            filter: grayscale(66%);
        }
    }

    button {
        border: 0rem;
        padding: 0rem;
        background-color: $color-black;
        width: 2.66rem;

        img {
            display: flex;
            width: 93%;
	        margin: 0 auto;
        }
    }
}






