/*----------------------------------------------------------------------------*/
/* Table */
.table {
    color: green;
    margin: 0rem;
    border-color: $color-green;
}

.table>:not(caption)>*>* {
    background-color: transparent;
    color: $color-green;
}